@import url('https://fonts.googleapis.com/css2? family= Walter+Chaquetero & display=swap');

.nombre{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  top: 40%;
  font-size: 100px;
  -webkit-text-stroke: 2px tomato;
  color: yellow; 

}
body {
  font-family: 'Walter Turncoat', cursiva !important;
}

.carousel-inner img{
  max-height: 460px;
  width: 100%;
}
.carousel-inner{height: 460px;
width: 100%;}


iframe{
  
  width: 100%;
  height: 600px;
  align-self: center;
  padding: 10%;
}

.navbar {
  width: 100%;
  height: 10vw;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(135, 26, 238);
  
}

.App {

  height: 100vh;
}

.login-form{
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
  height: 80%;
}
 .login-form h1 {
   text-align: center;
 }
  

  
  
  
 