h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
    
}
.titulo1 {
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 25px;
}